

.btn-black, .btn-black a {
    background-color: #231f20;
    border-color: #231f20;
    color: #FFD141;
}

.btn-black:hover{
	color: #fff;
}

.login-register{
	text-decoration: underline;	
}
.login-register:hover{
	color: #FFD141;
}

.btn-yellow{
	background-color: #FFD141;
	color:#000;
}
.btn-yellow:hover{	
	color:#fff;
}

/*FORM INPUT VALIDATION*/
input.ng-invalid.ng-touched{
	border: 1px solid #ED1A3B!important;
}
input.ng-valid.ng-touched{
	border: 1px solid #72BF44!important;
}
.ng-invalid .btn{
	background: gray;
	border: gray;
	color: white;
}
.login-error, .register-error{
	color: #ED1A3B;
	margin-top: 3px;
}
.loginFormValidation, .registerFormValidation{
	display:none;
}

/*FORM MODAL*/
.modal-success-icon{
	color: #72BF44;
	font-size: 88px;
}

.not-visible{
	visibility: hidden;
}

/*STUDENT and USER PROFILE*/
.hpanel.hblack .panel-body {
  border-top: 2px solid #000000;
}

/*LINE DASH*/
.hr-line-dashed-black {
  background-color: transparent;
  border-top: 1px dotted #000000;
  color: transparent;
  height: 1px;
  margin: 20px 0;
}
.p-l-none{
	padding-left: 0px;
}